body {
  position: relative;
  background: linear-gradient(rgba(36, 11, 4, 0.98), rgb(184, 17, 17)) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 45rem;
  z-index: -1;
  clear: both;
}
/*ul.button-list {
  display: block;
}
li.button-list-item {
  display: inline;
  float: left;
}*/
div.attack-buttons-player {
  display: inline;
}
button.punch-button {
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  background-color: rgba(167, 16, 16, 0.74);
  color: rgb(244, 237, 231);
  border-radius: 30%;
  border: 3px solid black;
}
button.kick-button {
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  background-color: rgba(167, 16, 16, 0.74);
  color: rgb(244, 237, 231);
  border-radius: 30%;
  border: 3px solid black;
}
/*Attempted to make a background image for a div so that I could
create a hover effect*/
/*div.vampire {
  z-index: 1;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
  background-image: url("http://i.imgur.com/2hTa544.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}*/
a.title-link {
  text-decoration: none;
}

img.vampire {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
}

h1.game-title {
  font-family: 'Creepster', cursive;
  font-size: 44px;
  color: rgb(237, 13, 26);
  text-align: center;
}
h1.game-title:hover {
  color: rgb(166, 101, 87);
}

.container {
  position: absolute;;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  overflow: auto;
}

.arena {
  height: 300px;
  width: 450px;
  margin: 0 auto;
  background-color: rgb(168, 172, 180);
  position: relative;
  z-index: -1;
  display: block;
  clear: both;
}
div.container {
  width: 100%;
  margin: 0 auto;
  clear: both;
  display: block;
}

#john {
  z-index: 1;
  height: 10rem;
  width: 10rem;
  /*background-color: rgb(199, 30, 44);*/
  background-image: url("http://i.imgur.com/4d4OBEe.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  position: absolute;
  float: left;
  bottom: 5px;
}

#opponent {
  z-index: 1;
  height: 10rem;
  width: 10rem;
  /*background-color: rgb(199, 30, 44);*/
  background-image: url("http://i.imgur.com/iQltbQA.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  position: absolute;
  float: right;
  bottom: 5px;
}

/*transition: 3s all ease
for punching and kicking animations

 for moving the background(bonus attribute)
 -webkit-animation: backgroundScroll 100s linear infinite;
  animation: backgroundScroll 100s linear infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;

*/
