body {
  position: relative;
  background: linear-gradient(rgba(36, 11, 4, 0.98), rgb(184, 17, 17)) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 45rem;
  z-index: -1;
  clear: both;
}

a.title-link {
  text-decoration: none;
}

img.vampire {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
}

h1.game-title {
  font-family: 'Creepster', cursive;
  font-size: 44px;
  color: rgb(237, 13, 26);
  text-align: center;
}
h1.game-title:hover {
  color: rgb(166, 101, 87);
}

.container {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  overflow: auto;
  z-index: 0;
}

.arena {
  height: 300px;
  width: 450px;
  margin: 0 auto;
  background-color: rgb(14, 20, 20);
  position: relative;
  border-radius: 30%;
  z-index: -1;
  display: block;
  clear: both;
  border: 5px solid red;
}
div.container {
  width: 100%;
  margin: 0 auto;
  clear: both;
  display: block;
}
/*I could not get these healthbars to work*/
/*.blue-health {
  display: inline;
  float: right;
}
.red-health {
  display: inline;
  float: left;
}*/
.blue {
  z-index: 1;
  height: 10rem;
  width: 10rem;
  /*background-color: rgb(199, 30, 44);*/
  background-image: url("http://i.imgur.com/4d4OBEe.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  position: relative;
  float: left;
  left: 12px;
  top: 50px;
}
h1.ring {
  text-align: center;
  font-family: 'Creepster', cursive;
  color: rgb(230, 13, 13);
}
.red {
  z-index: 1;
  height: 10rem;
  width: 10rem;
  /*background-color: rgb(199, 30, 44);*/
  background-image: url("http://i.imgur.com/iQltbQA.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  position: relative;
  float: right;
  right: 12px;
  top: 50px;
}
.fist {
  height: 2rem;
  width: 2rem;
  position: absolute;
  bottom: 5rem;
  border-radius: 50%;
  z-index: 999999;
}

.red .fist{
  background-color: red;
}
.blue .fist{
  background-color: blue;
}
/*transition: 3s all ease
for punching and kicking animations

 for moving the background(bonus attribute)
 -webkit-animation: backgroundScroll 100s linear infinite;
  animation: backgroundScroll 100s linear infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;

*/
